<div *ngIf="!loading" class="add-wrapper flex flex-col justify-start items-center">
  <form class="add-container" #myform="ngForm" (ngSubmit)="onSubmit(myform)" *ngIf="user.role == 'Owner' || user.role == 'Editor'">
    <mat-card>
      <mat-card-title class="card-title">Add New Conference</mat-card-title>
      <mat-card-content>
        <div class="flex flex-col justify-start items-center">
          <!-- title -->
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" name="title" placeholder="Enter Title" ngModel>
          </mat-form-field>
          <!-- location -->
          <app-select-location *ngIf="!selectedLocation" class="full-width" (successfullyAdded)="locationSelected($event)"></app-select-location>
          <div *ngIf="selectedLocation" class="full-width flex flex-row">
            <span class="padded-content">{{ selectedLocation.title }}</span>
            <span class="padded-content"><mat-icon (click)="selectedLocation = null">cancel</mat-icon></span>
          </div>
          <!-- date picker -->
          <mat-form-field appearance="fill">
            <mat-label>Enter start & end dates</mat-label>
            <mat-date-range-input [formGroup]="dateRange"  [max]="maxDate" [rangePicker]="picker">
              <input matStartDate formControlName="start"placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <!-- organizations -->
          <h3 class="left-text">Organizations</h3>
          <div class="left-text flex flex-row justify-start items-start">
            <table class="full-width contrast-table" aria-label="Conference institutions">
              <tbody>
                <tr *ngFor="let institution of institutionsToLink">
                  <td class="padded-content">
                    <mat-icon (click)="removeInstitution(institution.id)">cancel</mat-icon>
                  </td>
                  <td class="padded-content">
                    {{ institution.title }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <span class="left-text">
            <button mat-raised-button *ngIf="!displayLinkInstitution" (click)="toggleDisplayLinkInstitution()" aria-label="Link institution">
              Link Organization
            </button>
            <button mat-raised-button *ngIf="displayLinkInstitution" (click)="toggleDisplayLinkInstitution()" aria-label="Cancel link institution">
              Cancel Link Organization
            </button>
          </span>
          <div class="add-subfield-container" *ngIf="displayLinkInstitution">
            <app-select-institution (successfullyAdded)="institutionSelected($event)" [restrictedIds]="selectedInstitutionIds" [includeRoles]="true"></app-select-institution>
          </div>
          <!-- disciplines -->
          <h3 class="left-text">Disciplines</h3>
          <div class="left-text flex flex-row justify-start items-start">
            <table class="full-width contrast-table" aria-label="Conference disciplines">
              <tbody>
                <tr *ngFor="let discipline of disciplinesToTag">
                  <td class="padded-content">
                    <mat-icon (click)="removeDiscipline(discipline.id)">cancel</mat-icon>
                  </td>
                  <td class="padded-content">
                    {{ discipline.title }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <span class="left-text">
            <button mat-raised-button *ngIf="!displayTagDiscipline" (click)="toggleDisplayTagDiscipline()" aria-label="Tag discipline">
              Tag Discipline
            </button>
            <button mat-raised-button *ngIf="displayTagDiscipline" (click)="toggleDisplayTagDiscipline()" aria-label="Cancel tag discipline">
              Cancel Tag Discipline
            </button>
          </span>
          <div class="add-subfield-container" *ngIf="displayTagDiscipline">
            <app-select-discipline (successfullyAdded)="disciplineSelected($event)" [restrictedIds]="selectedDisciplineIds"></app-select-discipline>
          </div>
        </div>
        <!-- conference participants -->
        <h3 class="left-text">Conference Participants</h3>
        <div class="left-text flex flex-row justify-start items-start">
          <table class="full-width contrast-table" aria-label="Conference participants">
            <tbody>
              <tr *ngFor="let participant of participantsToLink">
                <td class="padded-content">
                  <mat-icon (click)="removeParticipant(participant.personId)">cancel</mat-icon>
                </td>
                <td class="padded-content">
                  <span *ngIf="getParticipantNameById(participant.personId) != '' && getParticipantNameById(participant.personId)">
                    {{ getParticipantNameById(participant.personId) }}
                  </span>
                  <span *ngIf="getParticipantNameById(participant.personId) == '' || !getParticipantNameById(participant.personId)">
                      No Name
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="left-text">
          <button mat-raised-button *ngIf="!displayLinkParticipant" (click)="toggleDisplayLinkParticipant()" aria-label="Link participant">
            Link Participant
          </button>
          <button mat-raised-button *ngIf="displayLinkParticipant" (click)="toggleDisplayLinkParticipant()" aria-label="Cancel link participant">
            Cancel Link Participant
          </button>
        </span>
        <div class="add-subfield-container full-width" *ngIf="displayLinkParticipant">
          <app-select-person class="full-width" [includeRole]="true" (successfullyAdded)="linkParticipant($event)"></app-select-person>
        </div>
        <!-- participant affiliations -->
        <h3 *ngIf="participantsToLink.length > 0" class="left-text">Affiliations of Participants</h3>
        <div *ngIf="participantsToLink.length > 0" class="left-text flex flex-row justify-start items-start">
          <table class="full-width contrast-table" aria-label="Participant affiliations">
            <tbody>
              <tr *ngFor="let participantAffiliation of participantAffiliationsToLink">
                <td class="padded-content">
                  <mat-icon (click)="removeParticipantAffiliation(participantAffiliation.personId, participantAffiliation.institutionId)">cancel</mat-icon>
                </td>
                <td class="padded-content">
                  <span *ngIf="getParticipantNameById(participantAffiliation.personId) != '' && getParticipantNameById(participantAffiliation.personId)">
                    {{ getParticipantNameById(participantAffiliation.personId) }}
                  </span>
                  <span *ngIf="getParticipantNameById(participantAffiliation.personId) == '' || !getParticipantNameById(participantAffiliation.personId)">
                      No Name
                  </span>
                  <span>
                    {{ getInstitutionTitleById(participantAffiliation.institutionId) }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <span *ngIf="participantsToLink.length > 0" class="left-text">
          <button mat-raised-button *ngIf="!displayLinkParticipantAffiliation" (click)="toggleDisplayParticipantAffiliation()" aria-label="Link affiliation of participant">
            Link Affiliation as Participant
          </button>
          <button mat-raised-button *ngIf="displayLinkParticipantAffiliation" (click)="toggleDisplayParticipantAffiliation()" aria-label="Cancel link affiliation of participant">
            Cancel Link Affiliation as Participant
          </button>
        </span>
        <div class="add-subfield-container" *ngIf="displayLinkParticipantAffiliation">
          <mat-card>
            <mat-card-content>
              <div class="flex flex-col justify-start items-center">
                <mat-form-field>
                  <mat-label>Affiliate Institution of Participant</mat-label>
                  <mat-select class="margin-content" [(value)]="selectedPerson">
                    <mat-option *ngFor="let participant of filterParticipantsByLinked()" [value]="participant.id">
                        <span *ngIf="participant.name != '' && participant.name">
                            {{ participant.name }}
                        </span>
                        <span *ngIf="participant.name == '' || !participant.name">
                            No Name
                        </span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select class="margin-content" [(value)]="selectedInstitution">
                    <mat-option *ngFor="let institution of acceptableInstitutions" [value]="institution.id">
                        <span *ngIf="institution.title != '' && institution.title">
                            {{ institution.title }}
                        </span>
                        <span *ngIf="institution.title == '' || !institution.title">
                            No Title
                        </span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Department</mat-label>
                  <input matInput type="text" name="department" placeholder="Enter Department" [(ngModel)]="participantAffiliationDepartment">
                </mat-form-field>
                <mat-divider></mat-divider>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="flex flex-col justify-center items-center">
                <div *ngIf="errorMsgs.length > 0" class="error-msgs flex flex-col justify-start items-center">
                  <div *ngFor="let errorMsg of errorMsgs">Error: {{ errorMsg }}</div>
                </div>
                <div *ngIf="serverErrorMsgs.length > 0" class="error-msgs flex flex-col justify-start items-center">
                  <div *ngFor="let serverErrorMsg of serverErrorMsgs">Error: {{ serverErrorMsg }}</div>
                </div>
                <button mat-raised-button type="button" color="primary" (click)="linkParticipantAffiliation(selectedPerson, selectedInstitution, participantAffiliationDepartment)" aria-label="Link affiliation as participant">Select Affiliation as Participant</button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-card-content>
      <!-- error messages & add button -->
      <mat-card-actions>
        <div class="flex flex-col justify-center items-center">
          <div *ngIf="errorMsgs.length > 0" class="error-msgs flex flex-col justify-center items-start">
            <div *ngFor="let errorMsg of errorMsgs">Error: {{ errorMsg }}</div>
          </div>
          <div *ngIf="serverErrorMsgs.length > 0" class="error-msgflex flex-col justify-center items-start">
            <div *ngFor="let serverErrorMsg of serverErrorMsgs">Error: {{ serverErrorMsg }}</div>
          </div>
          <button mat-raised-button type="submit" color="primary" aria-label="Add conference button">Add Conference</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
