<!-- general project specs -->
<mat-card>
  <mat-card-title>Project Specifications</mat-card-title>
  <mat-card-subtitle><i>Technical Information</i></mat-card-subtitle>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item *ngFor="let spec of specs.specs">
        <span class="label"><strong>{{ spec.label }}:</strong></span>
        <a [href]="safeUrl(spec.link)" target="_blank">{{ spec.value }}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!-- repositories -->
<mat-card>
  <mat-card-title>GitHub Repository</mat-card-title>
  <mat-card-subtitle><i>Code & Data</i></mat-card-subtitle>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item *ngFor="let repository of specs.repositories">
        <span class="label"><strong>{{ repository.label }}:</strong></span>
        <a [href]="safeUrl(repository.link)" target="_blank">{{ repository.value }}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!-- project dependencies -->
<mat-card>
  <mat-card-title>Project Modules</mat-card-title>
  <mat-card-subtitle><i>Dependencies from npm</i></mat-card-subtitle>
  <mat-card-content>
    <!-- frontend -->
    <h3>Frontend:</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let frontendDependency of specs.dependencies.frontend">
        <a [href]="safeUrl(frontendDependency.link)" target="_blank">{{ frontendDependency.label }}</a>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <!-- backend -->
    <h3>Backend:</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let backendDependency of specs.dependencies.backend">
        <a [href]="safeUrl(backendDependency.link)" target="_blank">{{ backendDependency.label }}</a>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <!-- developer -->
    <h3>Developer:</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let developerDependency of specs.dependencies.developer">
        <a [href]="safeUrl(developerDependency.link)" target="_blank">{{ developerDependency.label }}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!-- ERD diagram-->
<mat-card>
  <mat-card-title>Database Schema</mat-card-title>
  <mat-card-subtitle><i>Entity Relationship Diagram</i></mat-card-subtitle>
  <mat-card-content>
    <div class="flex flex-col justify-start items-center">
      <div class="flex items-center justify-center max-sm:hidden">
        <img [src]="safeUrl(specs.erd)" class="border border-img" alt="ERD of the database" mat-card-img>
      </div>
      <div><a [href]="safeUrl(specs.erd)">Download the ERD here</a></div>
    </div>
  </mat-card-content>
</mat-card>
