<mat-card>
  <mat-card-title>Introduction</mat-card-title>
  <mat-card-subtitle><i>A Background</i></mat-card-subtitle>
  <mat-card-content>
    <!-- introductory content -->
    <div class="flex flex-col justify-start text-left">
      <p class="has-dropcap text-left">
        Welcome to the Index Conventionum Aevorum Mediorum! This site will eventually house a database with information on a number of medievalist conference presentations, starting with those of the Medieval Academy of America.
        This project is currently in the early data entry phase. What you see is a promise of what is to come, so check back in the future for more content. Here, you will eventually be able to find
        information on various conferences, their panels, presentations, people, topics, and locations. Beyond merely providing information about various presentations, this site hopes to enable an
        analysis of changing topics, institutions, and places over time. Eventually, certain visualization tools will be added. Check out the current (preview) data by using the nav menu button on the top right of the site header.
        <br /><br />
        Information at this stage is considered provisional and highly subject to change.
      </p>
    </div>
  </mat-card-content>
</mat-card>
