<div *ngIf="!loading" class="list-wrapper flex flex-col justify-start items-center">
    <div class="list-container">
      <div class="filter-container">
        <mat-card>
          <mat-card-content>
            <div class="max-sm:text-sm">
              Filter
            </div>
            <div class="flex flex-row justify-start items-center max-sm:flex-col max-sm:items-start max-sm:text-xs">
              <div class="filter-input-wrapper">
                <label for="titleFilter">Title: </label>
                <input type="text" id="titleFilter" (input)="refreshData()" [(ngModel)]="filterByTitle" />
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <app-pagination [page]="currentPage" [size]="itemsPerPage" [totalItems]="totalItems" (paginationSet)="changePagination($event)"></app-pagination>
      </div>
      <div class="topics-container">
        <mat-card *ngFor="let topic of protectedData" (click)="navigate(topic.id)">
          <mat-card-content>
            <div class="flex flex-col justify-start items-start">
              <mat-card-subtitle class="card-subtitle">{{ topic.title }}</mat-card-subtitle>
              <div class="padded-content-dense">
                  Presentations: {{ topic.presentations.length }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  