<header>
  <mat-toolbar class="mat-elevation-z8 flex flex-row justify-center items-center" color="primary">

    <!-- Site Header Info -->
    <div class="justify-center items-start flex flex-col grow" (click)="navigate('home')" routerLink="">
        <h1>{{ settings.siteName }}</h1>
        <div class="header-credit flex flew-row items-center">{{ settings.author }} <div class="padded-content">(Copyright, &copy; {{ settings.copyright }})</div></div>
    </div>
  
    <!-- Nav Menu -->
    <div>
      <!-- button for nav menu -->
      <button mat-raised-button color="accent" (click)="toggleNav()" aria-label="Navigation Menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>