<div *ngIf="!loading" class="add-wrapper flex flex-col justify-start items-center">
    <form class="add-container" #myform="ngForm" (ngSubmit)="onSubmit(myform)" *ngIf="user.role == 'Owner' || user.role == 'Editor'">
      <mat-card>
        <mat-card-title class="card-title">Add New Topic</mat-card-title>
        <mat-card-content>
          <div class="flex flex-col justify-start items-center">
            <!-- title -->
            <mat-form-field appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput type="text" name="title" placeholder="Enter Title" ngModel>
            </mat-form-field>
          </div>
        </mat-card-content>
        <!-- error messages & add button -->
        <mat-card-actions>
          <div class="flex flex-col justify-center items-center">
            <div *ngIf="errorMsgs.length > 0" class="error-msgs flex flex-col justify-start items-center">
              <div *ngFor="let errorMsg of errorMsgs">Error: {{ errorMsg }}</div>
            </div>
            <div *ngIf="serverErrorMsgs.length > 0" class="error-msgs flex flex-col justify-start items-center">
              <div *ngFor="let serverErrorMsg of serverErrorMsgs">Error: {{ serverErrorMsg }}</div>
            </div>
            <button mat-raised-button type="submit" color="primary" aria-label="Add society button">Add Topic</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  