<div class="single-col">
    <div *ngIf="!loading" class="export-wrapper flex flex-col justify-start items-center">
      <div class="export-container flex flex-col justify-start items-center">
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.conferences" download="conferences.json">Download conferences.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.disciplines" download="disciplines.json">Download disciplines.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.institutions" download="institutions.json">Download institutions.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.locations" download="locations.json">Download locations.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.panels" download="panels.json">Download panels.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.people" download="people.json">Download people.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.presentations" download="presentations.json">Download presentations.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.topics" download="topics.json">Download topics.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.geographies" download="geographies.json">Download geographies.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.chairAffiliations" download="chair-affiliations.json">Download chair-affiliations.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.conferenceDisciplines" download="conference-disciplines.json">Download conference-disciplines.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.conferenceInstitutions" download="conference-institutions.json">Download conference-institutions.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.peopleChairing" download="people-chairing.json">Download people-chairing.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.peoplePresenting" download="people-presenting.json">Download people-presenting.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.presentationGeographies" download="presentation-geographies.json">Download presentation-geographies.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.presentationTopics" download="presentation-topics.json">Download presentation-topics.json</a></button>
        <mat-divider></mat-divider>
        <button class="padded-content" mat-raised-button color="primary"><a [href]="downloadJsonHrefs.presenterAffiliations" download="presenter-affiliations.json">Download presenter-affiliations.json</a></button>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
  
