// If the screen size is 601px wide or more, set for large screen
@media screen and (min-width: 601px) {
  :host .list-container-filter-open {
    padding-top: 205px;
  }

  :host .list-container-filter-closed {
    padding-top: 160px;
  }
}

// If the screen size is 600px wide or less, set for mobile
@media screen and (max-width: 600px) {
  :host .list-container-filter-open {
    padding-top: 210px;
  }

  :host .list-container-filter-closed {
    padding-top: 170px;
  }
}

:host .list-wrapper {
  height: 100%;
  width: 100%;
}

:host .list-container {
  width: 100%;
}

:host .filter-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}

:host .filter-input-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
}

:host .filter-input-wrapper:not(:last-child) {
  padding-right: 5px;
}

:host .chip-container {
  padding-top: 5px;
  padding-bottom: 5px;
}